html,
body {
    width: 500px;
    height: auto;
}

.hidden {
    display: none;
}

.button {
    margin: 3% auto;
    padding: 4px;
    text-align: center;
    font-size: 1.5em;
    cursor: pointer;
}

.reset {
    background-color: #FBFBC9;
}

.reset:hover {
    background-color: #EAEA9D;
}

#filePath {
    width: 99%;
    /* height: 50px; */
    box-sizing: border-box;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin-bottom: 5px;
}

.confirmButton {
    background-color: #44c767;
    border-radius: 28px;
    border: 1px solid #18ab29;
    /* display: inline-block; */
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 17px;
    padding: 16px 31px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #2f6627;
    float: right;
    margin-bottom: 5px;
}

.confirmButton:hover {
    background-color: #5cbf2a;
}

.confirmButton:active {
    position: relative;
    top: 1px;
}